<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>주원이의 포켓몬센터</title>
</head>
<body>
    <h1>주원이의 포켓몬센터</h1>
<input type="text" id="name" placeholder="포켓몬 이름">

<input type="number" id="level" placeholder="레벨">

<button onclick="addPokemon()">
    포켓몬 맡기기
</button>
    <button onclick="loadPokemon()">
        포켓몬 목록 보기
    </button>

    <ul id="pokemon-list"></ul>

    <script>
        async function loadPokemon() {

	    const response = await fetch("/computer");

            const data = await response.json();

            const list = document.getElementById("pokemon-list");

            list.innerHTML = "";

            for (let pokemon of data) {

                list.innerHTML += `
                    <li>
                        ${pokemon.name} - Lv.${pokemon.level}
                    </li>
                `;
            }
        }
async function addPokemon() {

    alert("포켓몬 맡기기 버튼 눌림");

    const name = document.getElementById("name").value;
    const level = document.getElementById("level").value;

    const response = await fetch("/computer/deposit", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            name: name,
            level: Number(level)
        })
    });

    const result = await response.json();
    console.log(result);

    loadPokemon();
}    </script>
</body>

</html>
